body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header {
    background-color: #f0efcf;
    color: #cce5b7;
    text-align: center;
    padding: 20px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline;
    margin-right: 10px;
  }
  nav a {
    color: #729158;
    text-decoration: none;
    font-size: 16px;
  }

  body {
    background-image: url("https://fatecspgov-my.sharepoint.com/:i:/r/personal/lucas_stahl_fatec_sp_gov_br/Documents/Home.jpg?csf=1&web=1&e=Fk5vnX");
    background-size: cover;
    background-repeat: no-repeat;
  }

  